/* AnalogClock.css */

.clock {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    border-radius: 50%;
    margin: 20px auto;
    background-color: white;
    
  }


  .center-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }

  .dial {
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: -50% -50%;
    border-radius: 50%;
   
  }

  .dialLines{
    position: absolute;
    width: 1px;
    height: 15px;
    transform-origin: 0% 148px;
    z-index: 2;
    background-color: black;
    left: 50%;
    margin-left: -1px;
  }
  .dialLines:nth-of-type(5n){
    position: absolute;
    width: 3px;
    height: 15px;
    transform-origin: 0% 148px;
    z-index: 2;
    background-color: black;
    left: 50%;
    margin-left: -1px;
  }



  .number {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
  }

  .number-12 {
    top: 15px;
    left: 46%;
  }

  .number-1{
    top: 0px;
    left: 300px;
  }
  .number-2{
    top: 100px;
    right: 10px;
  }
  .number-3 {
    top: 136px;
    right: 20px;
  }
  .number-4 {
    top: 300px;
    right: 00px;
  }
  .number-5 {
    bottom: 000px;
    left: 300px;
  }
  .number-6 {
    bottom: 20px;
    left: 142px;
  }
  .number-7 {
    bottom: 000px;
    left: 100px;
  }
  .number-8 {
    top: 300px;
    left:00px;
  }
  .number-9 {
    top: 135px;
    left: 20px;
  }
  .number-10 {
    top: 100px;
    left:00px;
  }
  .number-11 {
    top: 000px;
    left: 100px;
  }
 

  /* .number-3 {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
  }
  
  .number-6 {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  
  .number-9 {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
   */
  /* .number-12 {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  
  
  .hand {
    position: absolute;
    background-color: #333;
    transform-origin: center;
    transform-origin: -50% -50%;
  }
  
  .hour-hand {
    position: absolute;
    z-index: 7;
    width: 8px;
    height: 100px;
    background: black;
    top: 5px;
    lefT: 48%;
    margin-left: -1px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-origin: 50% 125px;
  }
  
  .minute-hand {
    position: absolute;
    z-index: 7;
    width: 8px;
    height: 120px;
    background: black;
    top: 22px;
    lefT: 50%;
    margin-left: -1px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-origin: 50% 125px;
  }
  
  .second-hand {
    position: absolute;
    z-index: 10;
    width: 4px;
    height: 120px;
    background: gold;
    top: 22px;
    lefT: 50%;
    margin-left: -1px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-origin: 50% 125px;
  }
  
  
  