.left-menu-container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
.btn1 
{
    padding:10px 20px;
    border-radius: 5px;
    color: white;
    background-color: lightseagreen;
    font-size: 16px;
}
.login_Container
{
    background-color: antiquewhite;
    width: 100%;
    padding:10px;
    text-align: center;
}
.form_control_input
{
    padding: 10px;
    margin: 10px;
}

.inc_dec_container
{
    width: 40%;
    background-color: bisque;
    padding: 2% 5%;
    text-align: center;
    margin-left: 30%;
    color:black;
}
.loginform{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    height: 60vh;
}
@media screen and (max-width:768px) {
    .left-menu-container{
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        align-items:center;
        flex-direction: row;
    } 
}
.signupform{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    height: 60vh;
}

.signupform input{
    min-width: 300px;
}

@media screen and (max-width:576px){
    .logoutform{
        display: none !important;       
    }
}
@media screen and (min-width:576px){
    .logoutLiBtn{
        display: none !important;       
    }
}

